{% extends 'base.html.twig' %}

{% block body %}

	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<form action="{{ path('bdsa_user_login_check') }}" method="post">


		<label for="username">{{'bdsa.login.username'|trans}}</label>
		<input type="text" id="username" name="_username" value="{{ last_email }}" />

		<label for="password">{{'bdsa.login.password'|trans}}</label>
		<input type="password" id="password" name="_password" />

		{#
		If you want to control the URL the user
		is redirected to on success (more details below)
		<input type="hidden" name="_target_path" value="/account" />
		#}

		<button type="submit">{{'bdsa.login.submit'|trans}}</button>
	</form>

	<a href='{{path('bdsa_user_forgot_password')}}'>{{'bdsa.login.forgotpassword'|trans}}

{% endblock %}
