{% extends 'base.html.twig' %}

{% block body %}
	
	{{ form_start(form) }}

		{% if form_errors(form) %}
			{{ form_errors(form) }}
		{% endif %}

		{{ form_row(form.email) }}

	    {{ form_row(form.email) }}
	    {{ form_row(form.name) }}
	    {{ form_row(form.surname) }}
	    {{ form_row(form.plainPassword.first) }}
	    {{ form_row(form.plainPassword.second) }}

	    <button type="submit">{{'bdsa.user.register'|trans}}</button>
	{{ form_end(form) }}

{% endblock %}