{% extends 'base.html.twig' %}

{% block body %}
	
	{{ form_start(edit_form) }}
	    {{ form_row(edit_form.email) }}
	    {{ form_row(edit_form.name) }}
	    {{ form_row(edit_form.surname) }}

	    {{ form_widget(edit_form._token) }}

	    <button type="submit">{{'bdsa.user.save'|trans}}</button>
	{{ form_end(edit_form) }}

{% endblock %}