{% extends 'base.html.twig' %}

{% block body %}
	
	{{ form_start(form) }}
    {{ form_row(form.email) }}

    <button type="submit">{{'bdsa.forgotpassword.submit'|trans}}</button>
	{{ form_end(form) }}

{% endblock %}